<div class="uk-article">
  <h1 class="uk-article-title"><%= user.email %> <%= link_to 'Admins Only', '#' unless user.revoked %></h1>
  <p class="uk-article-meta">This is the user account</p>
  <p class="uk-article-lead">This is the lead of the article</p>
  <p>This is the paragraph</p>
  <hr class="uk-article-divider">
  <p>This is the full article.</p>
</div>
